.center {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  font-family: cursive;
}

.user {
  margin-top: 20vh;
  width: 20vw;
}

.transaction {
  color:white;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 2;
  background-color:#1F2937;
  margin-top: 40px;
  width: 15vw;
  min-width: fit-content;
}

h3 {
  text-align: center;
}

.form-buttons {
  display: flex;
  justify-content: space-evenly;
}