.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid black;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20vh;
  width: 20vw;
}

h3 {
  text-align: center;
}

.submit {
  display: flex;
  justify-content: center;
}