.center {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  font-family: cursive;
}

.user {
  margin-top: 20vh;
  width: 20vw;
}

.transaction {
  margin-top: 20px;
  width: 15vw;
}

h3 {
  text-align: center;
}

.form-buttons {
  display: flex;
  justify-content: space-evenly;
}