.buttons {
  display: flex;
  justify-content: space-between;
}

.title {
  color: white;
}

.expense {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 24px;
  font-family: sans-serif;
}

.headings {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.body {
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: bisque;
}

.container-bg {
  background-color: #1F2937;
  min-height: 100vh;
}

.button-text {
  font-size: 20px;
  font-family: cursive;
}

.expense-btns {
  display: flex;
  align-items: center;
}