body {
  color: white;
  font-family: cursive;
}

.bg {
  background-color: #1F2937;
  min-height: 100vh;
}

.center {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}

.user {
  margin-top: 20vh;
  width: 20vw;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 28px;
}

h3 {
  text-align: center;
}

.front {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.headings {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.body {
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: bisque;
}

.button-text {
  font-size: 20px;
}

.transaction {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 24px;
  font-family: sans-serif;
}

.transaction-form {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 2;
  background-color:#1F2937;
  margin-top: 40px;
  width: 15vw;
  min-width: fit-content;
}

.form-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.transaction-btns {
  display: flex;
  align-items: center;
}

.transaction-form-btns {
  display: flex;
  justify-content: space-evenly;
}

.transaction-page-btns {
  display: flex;
  justify-content: space-between;
}

.pagination {
  display: flex;
  flex-direction: column;
}

.profile-form {
  padding: 20px;
}

.h1-fade-in  {
  font-size: 80px;
  opacity: 0;
  animation: fade-in 1.5s ease-in-out forwards;
}

.h2-fade-in {
  font-size: 64px;
  opacity: 0;
  animation: fade-in 1.5s ease-in-out forwards;
  animation-delay: 1s; 
}

.card-animate {
  opacity: 0;
  transform: translateY(-20px);
  animation: slide-in 1.5s ease-in-out forwards;
}

.notice-animate {
  opacity: 0;
  animation: fade-in-out 3.5s ease forwards;
}

.success-animate {
  opacity: 0;
  animation: fade-in-out-pw 3.5s ease forwards;
}

.balance, .budget {
  opacity: 0;
  animation: fade-in 1s ease-in-out forwards;
}

.currTransaction {
  opacity: 0;
  animation: fade-in 1s ease-in-out forwards;
  animation-delay: 0.5s; 
}

.currExpense {
  opacity: 0;
  animation: fade-in 1s ease-in-out forwards;
  animation-delay: 1s; 
}

.currIncome {
  opacity: 0;
  animation: fade-in 1s ease-in-out forwards;
  animation-delay: 1.5s; 
}

.total {
  opacity: 0;
  animation: fade-in 1s ease-in-out forwards;
  animation-delay: 2s; 
}

.statistics {
  opacity: 0;
  animation: fade-in 1.5s ease-in-out forwards;
  animation-delay: 2.5s; 
}

.exceed {
  opacity: 0;
  animation: fade-in 1s ease-in-out forwards;
}

@media (max-width: 768px) {
  .h1-fade-in {
    font-size: 40px;
  }
  .h2-fade-in {
    font-size: 28px;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
    height: 0px;
    line-height: 0px;
    padding: 0px;
  }

  10% {
    opacity: 0;
    height: 100%;
    line-height: 100%;
    padding: 15px;
  }

  30% {
    opacity: 1;
    height: 100%;
    line-height: 100%;
    padding: 15px;
  }

  70% {
    opacity: 0;
    height: 100%;
    line-height: 100%;
    padding: 15px;
  }

  100% {
    opacity: 0;
    height: 0px;
    line-height: 0px;
    padding: 0px;
  }
}

@keyframes fade-in-out-pw {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}